body{
    background-color: #efefef;

}

.title{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 53px;
    color: #333333;
}

.subtitle{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    padding-bottom: 30px;
}

.thumbnail .title{
    font-size: 24px;
    color: #3097D1;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sous-titre{
    font-family: inherit;
    text-align: center;
    color: #333333;
}

.picture{
    width: 100%;
}

.selection{
    margin-top: 40px;
}

.selection h1{
    margin-bottom: 30px;
}

.selection a {
    text-decoration: none;
}

.selection .row{
    background-color: rgba(35, 255, 211, 0);
}
.bar-title{
    font-size: 20px;
    color: #3097D1;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.bar-description{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.72857143;
    color: #333333;
    margin-top: 10px;
}

p {
    margin: 0 0 10px;
}

.second{
    height: 100vh;
}

.navbar{
    height: 70px;
}

.masthead{
    height: 100vh;
}

.intro-text span{
    margin-bottom: 20px;
}

.img-fluid{
    height: 130px; !important;
}

.thumbnail{
    background-color: #ffffff;
    margin-top: 30px;
    height: 400px;
}

.show{
    margin-top: 60px;
}

.show img{
    height: 230px;
}


.sous-titre{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.underpicture{
    margin: 8px;
}

.game{
    position: absolute;
    bottom: 8%;
}